body {
    text-align: center;
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    color: red;
    font-size: 40px;
}

#canvas {
    border-style: ridge;
    border-width: 2px;
    background-color: white;
}